################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BenchmarkDotNet.Artifacts
/.vs
/BenchmarkOptimization/bin
/BenchmarkOptimization/obj
